.container1 {
  background-color: hsl(0, 0%, 96%);
  height: 100%;
  width: 100%;
  position: absolute;
  border: solid 2px rgb(255, 255, 255);
  padding: 1.5rem 1.5rem;
}

.iconText {
  font-size: x-small;
}

.navBar {
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  border-top: solid rgb(187, 187, 187) 0.5px;
  padding-top: 5px;
}

.navIconP {
  /* margin-left: 5%; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5%;
}

.subtitle {
  color: rgb(247, 180, 92);
  text-align: center;
}

.title {
  color: rgb(218, 120, 54);
  text-align: center;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fa {
  font-size: 1.9em !important; /*size whatever you like*/
}

.hide {
  display: none;
}

.button2,
.button3,
.button6,
.button27,
.button28 {
  display: block;
  margin: auto;
  margin-bottom: 2%;
  width: 90%;
}

#gray {
  background-color: gray;
}

.t6diagram {
  /* background-image: url("../images/wings.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 322px;
  height: 156px; */
  /* margin-left: 5.3%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wings {
  background-image: url("../images/wings.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 322px;
  height: 156px;
}

.vt2Patch {
  background-image: url("../images/vt2135.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 75px;
  /* margin-left: 5%; */
  display: inline-block;
}
.vt3Patch {
  background-image: url("../images/vt3135.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 75px;
  margin-left: 2%;
  display: inline-block;
}
.vt6Patch {
  background-image: url("../images/vt6135.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 75px;
  margin-left: 2%;
  display: inline-block;
}

.vt27Patch {
  background-image: url("../images/vt27135.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 75px;
  /* margin-left: 2%; */
  display: inline-block;
}
.vt28Patch {
  background-image: url("../images/vt28135.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 75px;
  margin-left: 2%;
  display: inline-block;
}

.vtPatches2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vtPatches {
  display: flex;
  justify-content: center;
  align-items: center;
}
