body {
  font-family: Verdana, Tahoma, sans-serif;
}

.container1 {
  background-color: hsl(0, 0%, 96%);
  min-height: 100%;
  width: 100%;
  position: absolute;
  border: solid 2px rgb(255, 255, 255);
  padding: 1.5rem 1.5rem;
  padding-bottom: 4rem;
}

/* .container2 {

} */

.iconText {
  font-size: x-small;
}

.navBar {
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  border-top: solid rgb(187, 187, 187) 0.5px;
  padding-top: 5px;
}

.navIconP {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5%;
}

.title {
  /* color: rgb(253, 87, 34); */
  color: black;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 0px;
  z-index: 2;
  background-color: hsl(0, 0%, 96%);
  padding-top: 5px;
  padding-bottom: 5px;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon {
  font-size: 1.9em !important; /*size whatever you like*/
}

.hide {
  display: none;
}

#hide {
  display: none;
}

.button2,
.button3,
.button6,
.button27,
.button28 {
  display: block;
  margin: auto;
  margin-bottom: 6px;
  width: 90%;
  max-width: 500px;
}

#gray {
  background-color: gray;
}

.t6diagram {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wings {
  background-image: url("../images/wings.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 322px;
  height: 156px;
  margin-top: -5px;
}

.limits {
  background-image: url("../images/t6_limits.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 322px;
  height: 156px;
  margin-top: -5px;
}

.vt2Patch {
  background-image: url("../images/vt2135.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 75px;
  /* margin-left: 5%; */
  display: inline-block;
}
.vt3Patch {
  background-image: url("../images/vt3135.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 75px;
  margin-left: 2%;
  display: inline-block;
}
.vt6Patch {
  background-image: url("../images/vt6135.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 75px;
  margin-left: 2%;
  display: inline-block;
}

.vt27Patch {
  background-image: url("../images/vt27135.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 75px;
  /* margin-left: 2%; */
  display: inline-block;
}
.vt28Patch {
  background-image: url("../images/vt28135.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 75px;
  margin-left: 2%;
  display: inline-block;
}

.vtPatches2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vtPatches {
  display: flex;
  justify-content: center;
  align-items: center;
}

.t6CircleIcon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url("../images/t6icon.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  animation: spin 10s linear infinite;
}

.forTheMargin {
  margin-right: 5%;
}

.forTheMargin2 {
  margin-left: 5%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#limits {
  color: black;
  font-size: large;
  background: repeating-linear-gradient(
    45deg,
    /* hsl(48, 100%, 67%),
    hsl(48, 100%, 67%) 20px,
    hsl(348, 100%, 61%) 20px,
    hsl(348, 100%, 61%) 40px */
      red,
    red 20px,
    yellow 20px,
    yellow 40px
  );
  border: solid red 1px;
}

.spanLimits {
  background-color: yellow;
  font-weight: 500;
}

@keyframes forwardIn {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform:  translate(0px,40px)
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

.epModal {
  width: 90%;
  max-width: 700px;
  animation: forwardIn 0.2s;
  max-height: 70vh;
}

.modal-card-foot {
  height: 60px;
}

.epSmallFont {
  white-space: normal;
word-wrap: break-word;

height: 60px;
}

.modal-card-title {
  max-width: 100%;
}

.modal-body-line {
  margin-bottom: 10px;
}

.delete {
  position: absolute;
  right: 5px;
  top: 5px;
}

.modal-card-title {
font-size: medium;
}

.modal-content-limits {
  width: 95%;
  /* max-height: 70vh; */
  height: 80%;

  background-image: url("../images/t6_limits.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 3%;
}

.modal-card-limits {
  background-color: white;
  animation: forwardIn 0.2s;

  width: 95%;
 height: 70vh;
}

.limitCloseButton {
  position: absolute;
  top: 75px;

}

.syllabusButton {
  margin-top: 4px;
  margin-bottom: 10px;
  width: 100%;
  /* max-width: 400px; */
}

.width100 {
  width: 100%;
  /* max-width: 400px; */

  margin:auto;
}

.syllabusContainer {
}

.syllabusTitle {
  margin-top: 10px;
  text-align: center;
  font-size: large;
}

.syllabusDropdownContent {
  width: 100%;
  max-width: 400px;
}

.syllabusModalCard {
  width: 95%;
  height: 70vh;

  background-color: white;
  animation: forwardIn 0.2s;
}

.modal-syllabus-pages {
  width: 100%;
  /* max-height: 70vh; */
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  margin-left: 3%;
padding-bottom: 50px;
}

.horizontalDivider {
border-top: solid rgba(51, 51, 51, 0.466) 1px;
}

.syllabus-C41_1 {
  background-image: url("../images/Syllabus T6/Contact/C4100/C41_1.png");
}

.syllabus-C41_2 {
  background-image: url("../images/Syllabus T6/Contact/C4100/C41_2.png");
}

.syllabus-C41_3 {
  background-image: url("../images/Syllabus T6/Contact/C4100/C41_3.png");
}

.modal-background-C41 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
z-index: 3;

height: 80%;
width: 100%;

}

.pagesContainer {
  height: 100%;
width: 100%;
background-color: white;
overflow-y: scroll;
padding-bottom: 60px;

}

.firstPage {
  margin-top: 4vh;
}

.syllabusPagesCloseButton {
  position: absolute;
  bottom: 53px;
  width: 80px;
border-radius: 0;

animation: slideUp forwards 0.5s;
}

.smallerTextEp {
  font-size: small;
}