.syllabus-C41_1 {
  background-image: url("../images/Syllabus T6/Contact/C4100/C41_1.png");
}
.syllabus-C41_2 {
  background-image: url("../images/Syllabus T6/Contact/C4100/C41_2.png");
}
.syllabus-C41_3 {
  background-image: url("../images/Syllabus T6/Contact/C4100/C41_3.png");
}



.syllabus-C42_1 {
  background-image: url("../images/Syllabus T6/Contact/C4200/C42_1.png");
}
.syllabus-C42_2 {
  background-image: url("../images/Syllabus T6/Contact/C4200/C42_2.png");
}
.syllabus-C42_3 {
  background-image: url("../images/Syllabus T6/Contact/C4200/C42_3.png");
}



.syllabus-C43_1 {
  background-image: url("../images/Syllabus T6/Contact/C4300/C43_1.png");
}
.syllabus-C43_2 {
  background-image: url("../images/Syllabus T6/Contact/C4300/C43_2.png");
}
.syllabus-C43_3 {
  background-image: url("../images/Syllabus T6/Contact/C4300/C43_3.png");
}


.syllabus-C44_1 {
  background-image: url("../images/Syllabus T6/Contact/C4490/C44_1.png");
}
.syllabus-C44_2 {
  background-image: url("../images/Syllabus T6/Contact/C4490/C44_2.png");
}




.syllabus-C45_1 {
  background-image: url("../images/Syllabus T6/Contact/C4501/C45_1.png");
}
.syllabus-C45_2 {
  background-image: url("../images/Syllabus T6/Contact/C4501/C45_2.png");
}


.syllabus-C46_1 {
  background-image: url("../images/Syllabus T6/Contact/C4600/C46_1.png");
}
.syllabus-C46_2 {
  background-image: url("../images/Syllabus T6/Contact/C4600/C46_2.png");
}
.syllabus-C46_3 {
  background-image: url("../images/Syllabus T6/Contact/C4600/C46_3.png");
}



.syllabus-C47_1 {
  background-image: url("../images/Syllabus T6/Contact/C4790/C47_1.png");
}
.syllabus-C47_2 {
  background-image: url("../images/Syllabus T6/Contact/C4790/C47_2.png");
}


.syllabus-C48_1 {
  background-image: url("../images/Syllabus T6/Contact/C4801/C48_1.png");
}
.syllabus-C48_2 {
  background-image: url("../images/Syllabus T6/Contact/C4801/C48_2.png");
}



.syllabus-C49_1 {
  background-image: url("../images/Syllabus T6/Contact/C4901/C49_1.png");
}
.syllabus-C49_2 {
  background-image: url("../images/Syllabus T6/Contact/C4901/C49_2.png");
}



.syllabus-I41_1 {
  background-image: url("../images/Syllabus T6/Instruments/I4100/I41_1.png");
}
.syllabus-I41_2 {
  background-image: url("../images/Syllabus T6/Instruments/I4100/I41_2.png");
}
.syllabus-I41_3 {
  background-image: url("../images/Syllabus T6/Instruments/I4100/I41_3.png");
}


.syllabus-I42_1 {
  background-image: url("../images/Syllabus T6/Instruments/I4200/I42_1.png");
}
.syllabus-I42_2 {
  background-image: url("../images/Syllabus T6/Instruments/I4200/I42_2.png");
}
.syllabus-I42_3 {
  background-image: url("../images/Syllabus T6/Instruments/I4200/I42_3.png");
}



.syllabus-I43_1 {
  background-image: url("../images/Syllabus T6/Instruments/I4300/I43_1.png");
}
.syllabus-I43_2 {
  background-image: url("../images/Syllabus T6/Instruments/I4300/I43_2.png");
}
.syllabus-I43_3 {
  background-image: url("../images/Syllabus T6/Instruments/I4300/I43_3.png");
}



.syllabus-I44_1 {
  background-image: url("../images/Syllabus T6/Instruments/I4490/I44_1.png");
}
.syllabus-I44_2 {
  background-image: url("../images/Syllabus T6/Instruments/I4490/I44_2.png");
}
.syllabus-I44_3 {
  background-image: url("../images/Syllabus T6/Instruments/I4490/I44_3.png");
}
