@media screen and (min-width: 800px) {

.t6CircleIcon {
width: 50px;
height: 50px;
}


.wings {
    /* width: 483px;
    height: 234px; */

      width: 322px;
  height: 156px;
}
.vt2Patch, .vt3Patch, .vt6Patch, .vt27Patch, .vt28Patch {
    width: 170px;
    height: 170px;
}

.smallerText, .toldForRunway, .metarWrapperDiv {
    display: flex;
    justify-content: center;
}

.title {
    height: 100px;

}

.container, .container3 {
margin-top: -20px;
margin-bottom: 60px;
}

.limitsPageBackground {
margin-bottom: 40px;
}

.icon {
    font-size: 4em !important; /*size whatever you like*/

    margin-right: 32px;
  }
.icon2, .icon4 {
    font-size: 4em !important; /*size whatever you like*/
}
.icon3 {
    font-size: 3.5em !important; /*size whatever you like*/
}

.iconText {
    font-size: large;

}
.KNSEMetar, .KNGPMetar {
    font-size: large;
}

.container3 {
    font-size: large;
}


#installButton {
    position: fixed;
    bottom: 95px;
    left: 200px;
    width: 150px;
  border-radius: 0;

  height: 70px;

  border-top-left-radius: 80%;
  border-top-right-radius: 80%;

  background-color: hsl(217, 71%, 53%) !important;

  animation: slideUp forwards 0.5s;
  font-size: large;
  }

  .squadronFrontPagesTitle {
      /* margin-top: 5%; */
  }


  .feedbackButton {
    position: fixed;
    bottom: 95px;
    left: 2px;
    width: 190px;
  border-radius: 0;

  height: 70px;

  border-top-left-radius: 80%;
  border-top-right-radius: 80%;

  animation: slideUp forwards 0.5s;
  font-size: large;
  }

  .syllabusPagesCloseButton {
      bottom: 95px;
      width: 190px;
      height: 70px;


  }
}
