body {
  font-family: Verdana, Tahoma, sans-serif;
}

.container1 {
  background-color: hsl(0, 0%, 96%);
  min-height: 100%;
  width: 100%;
  position: absolute;
  border: solid 2px rgb(255, 255, 255);
  padding: 1.5rem 1.5rem;
  padding-bottom: 4rem;
}

.iconText {
  font-size: x-small;
}

.navBar {
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  border-top: solid rgb(187, 187, 187) 0.5px;
  padding-top: 5px;
}

.navIconP {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5%;
}

.title {
  color: rgb(0, 0, 0);
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 0px;
  z-index: 2;
  background-color: hsl(0, 0%, 96%);
  padding-top: 5px;
  padding-bottom: 5px;

}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon {
  font-size: 1.9em !important; /*size whatever you like*/
}

.hide {
  display: none;
}

#hide {
  display: none;
}

.button2,
.button3,
.button6,
.button27,
.button28 {
  display: block;
  margin: auto;
  margin-bottom: 6px;
  width: 90%;
  max-width: 500px;
}

#gray {
  background-color: gray;
}

.t6diagram {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wings {
  background-image: url("../../images/wings.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 322px;
  height: 156px;
  margin-top: -5px;
}

.vt2Patch {
  background-image: url("../../images/vt2135.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 75px;
  display: inline-block;
}
.vt3Patch {
  background-image: url("../../images/vt3135.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 75px;
  margin-left: 2%;
  display: inline-block;
}
.vt6Patch {
  background-image: url("../../images/vt6135.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 75px;
  margin-left: 2%;
  display: inline-block;
}

.vt27Patch {
  background-image: url("../../images/vt27135.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 75px;
  display: inline-block;
}
.vt28Patch {
  background-image: url("../../images/vt28135.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 75px;
  margin-left: 2%;
  display: inline-block;
}

.vtPatches2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vtPatches {
  display: flex;
  justify-content: center;
  align-items: center;
}

.t6CircleIcon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url("../../images/t6icon.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  animation: spin 10s linear infinite;
}

.forTheMargin {
  margin-right: 5%;
}

.forTheMargin2 {
  margin-left: 5%;
}



#limits {
  color: black;
  font-size: large;
  background: repeating-linear-gradient(
    45deg,
      red,
    red 20px,
    yellow 20px,
    yellow 40px
  );
  border: solid red 1px;
}

.spanLimits {
  background-color: yellow;
  font-weight: 500;
}



.epModal {
  width: 90%;
  max-width: 700px;
  animation: forwardIn 0.2s;
  max-height: 70vh;
}

.modal-card-foot {
  height: 60px;
}

.epSmallFont {
  white-space: normal;
word-wrap: break-word;

height: 80px;
}

.modal-card-title {
  max-width: 100%;
}

.modal-body-line {
  margin-bottom: 10px;
}

.delete {
  position: absolute;
  right: 5px;
  top: 5px;
}

.modal-card-title {
font-size: medium;
}


.modal-card-limits {
  background-color: white;
  animation: forwardIn 0.2s;

  width: 95%;
 height: 70vh;
}

.limitCloseButton {
  position: absolute;
  top: 75px;

}

.syllabusButton {
  margin-bottom: 10px;
  width: 100%;
  max-width: 500px;

  margin: auto;
  margin-top: 4px;
}

.syllabusButtonContainer {
  display: flex;
}

.width100 {
  width: 100%;
  max-width: 500px;

  margin:auto;
}

.dropdownContainer {
display: flex;
}


.syllabusTitle {
  margin-top: 10px;
  text-align: center;
  font-size: large;
}

.syllabusDropdownContent {
  width: 100%;
  max-width: 400px;
}

.syllabusModalCard {
  width: 95%;
  height: 70vh;

  background-color: white;
  animation: forwardIn 0.2s;
}

.modal-syllabus-pages {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  margin-left: 3%;
padding-bottom: 50px;
}

.horizontalDivider {
border-top: solid rgba(51, 51, 51, 0.466) 1px;
}

.modal-background-syllabus-pages {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
z-index: 3;

height: 100%;
width: 100%;


}

.modal-background-syllabus-pages2 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
z-index: 3;

height: 30%;
width: 100%;


}



@media screen and (min-width: 800px) {
  .modal-background-syllabus-pages {

    height: 1061px;
    width: 792px;
    margin: auto


  }
}


.pagesContainer {

  height: 100%;
background-color: white;
overflow-y: scroll;
padding-bottom: 60px;

}

.syllabusPagesCloseButton {
  position: absolute;
  bottom: 53px;
  width: 80px;
border-radius: 0;

animation: slideUp forwards 0.5s;
}

.smallerTextEp {
  font-size: small;
}


.navIconContainer {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.navIconContainer p {
  display: table-cell;
  text-align: center;
}

.KNSEMetar, .KNGPMetar {
font-size: small;

color: hsl(217, 71%, 53%);
margin-bottom: 10px;
}

.metarTitle {
  margin-bottom: 10px;
  /* color: blue; */
  text-align: center;
  text-decoration: underline;
  font-weight: 600;
}

.toldForRunway {
  /* font-size: small; */
  display: flex;
align-items: center;
margin-bottom: 10px;

}


.Dropdown-root {
  width: 50px;
  margin-left: 10px;
  font-size: small;
}


.toldForRunwayText {
}

.Dropdown-menu {
width: 64px !important;
}

.Dropdown-option:hover {
  background-color: hsl(348, 100%, 61%) !important;
  color: white !important;
}

.is-selected {
  background-color: white !important;
}

.smallerText {
  font-size: small;
  display: flex;
  /* justify-content: center; */
}

.marginBottomTold {
  margin-bottom: 10px;
}

.Dropdown-control:hover {
  background-color: hsl(348, 100%, 61%);
  color: white;
}

.toldData {
  color: hsl(217, 71%, 53%);
  margin-left: 5px;
}

.toldDataInputFields {
  width: 60px;
  margin-left: 3px;
  margin-bottom: 2px;
}

.calculateToldButton {
  width: 100%;
  max-width: 600px;
}


.metarWrapperDiv {
  min-height: 67px;
  display: flex;
  align-items: center;
}


.toggleLimitsPageButton {
  position: absolute;
  bottom: 53px;
  left: 90px;
  width: 120px;
border-radius: 0;

animation: slideUp forwards 0.5s;
}

.earlyAccess {
  text-align: center;
  margin-top: -28px;
  margin-bottom: 20px;
}

/*
.installButton {
  position: fixed;
  bottom: 53px;
  left: 102;
  width: 75px;
border-radius: 0;
height: 45px;

border-top-left-radius: 80%;
border-top-right-radius: 80%;

animation: slideUp forwards 0.5s;
} */


#installButton {
  position: fixed;
  bottom: 53px;
  left: 102px;
  width: 75px;
border-radius: 0;

height: 35px;

border-top-left-radius: 80%;
border-top-right-radius: 80%;

background-color: hsl(217, 71%, 53%) !important;

animation: slideUp forwards 0.5s;
font-size: small;
}


.feedbackButton {
  position: fixed;
  bottom: 53px;
  left: 2px;
  width: 95px;
border-radius: 0;

height: 35px;

border-top-left-radius: 80%;
border-top-right-radius: 80%;

animation: slideUp forwards 0.5s;
font-size: small;
}

.sendMessageButton {
  margin-top: 10px;
}

.feedbackCancelButton {
  margin-top: 10px;
  margin-left: 5px;
}

.feedbackModal {
  width: 90%;
  max-width: 700px;
  animation: forwardIn 0.2s;
  max-height: 80vh;

}

.calculateContainer {
  display: flex;
  justify-content: center;
}

/* .container3 {
  display: flex;
 align-items: center;
} */