

@media screen and (min-width: 800px) {
  .syllabus-C42_2, .syllabus-C42_3, .syllabus-C41_3, .syllabus-F41_3, .syllabus-F42_1 {
    height: 1061px;
    width: 793px;
  }
  .syllabus-C43_1,  .syllabus-C44_1, .syllabus-C44_2, .syllabus-C45_1, .syllabus-C45_2, .syllabus-C46_2, .syllabus-C46_3, .syllabus-C47_1, .syllabus-C48_1, .syllabus-I41_1, .syllabus-I42_3, .syllabus-I43_1, .syllabus-I43_2, .syllabus-I43_3, .syllabus-I44_1, .syllabus-I44_2, .syllabus-I44_3, .syllabus-N41_2, .syllabus-F41_1, .syllabus-F41_2, .syllabus-F42_2, .syllabus-F43_1, .syllabus-F43_3{
    height: 1062px;
    width: 793px;
  }
  .syllabus-C43_2, .syllabus-C46_1, .syllabus-C47_2, .syllabus-C48_2, .syllabus-C49_1, .syllabus-C49_2, .syllabus-I41_2, .syllabus-I41_3, .syllabus-I42_1, .syllabus-I42_2, .syllabus-N42_2, .syllabus-N41_1 {
    height: 1062px;
    width: 792px;
  }
  .syllabus-C43_3 {
    height: 1062px;
    width: 789px;
  }

  .limitsPageBackground {
    height: 1457px;
    width: 1200px;
  }


}

.syllabus-C41_1 {
  background-image: url("../../images/Syllabus T6/Contact/C4100/C41_1.png");
}
.syllabus-C41_2 {
  background-image: url("../../images/Syllabus T6/Contact/C4100/C41_2.png");
}
.syllabus-C41_3 {
  background-image: url("../../images/Syllabus T6/Contact/C4100/C41_3.png");
}



.syllabus-C42_1 {
  background-image: url("../../images/Syllabus T6/Contact/C4200/C42_1.png");
}
.syllabus-C42_2 {
  background-image: url("../../images/Syllabus T6/Contact/C4200/C42_2.png");
}
.syllabus-C42_3 {
  background-image: url("../../images/Syllabus T6/Contact/C4200/C42_3.png");
}



.syllabus-C43_1 {
  background-image: url("../../images/Syllabus T6/Contact/C4300/C43_1.png");
}
.syllabus-C43_2 {
  background-image: url("../../images/Syllabus T6/Contact/C4300/C43_2.png");
}
.syllabus-C43_3 {
  background-image: url("../../images/Syllabus T6/Contact/C4300/C43_3.png");
}


.syllabus-C44_1 {
  background-image: url("../../images/Syllabus T6/Contact/C4490/C44_1.png");
}
.syllabus-C44_2 {
  background-image: url("../../images/Syllabus T6/Contact/C4490/C44_2.png");
}




.syllabus-C45_1 {
  background-image: url("../../images/Syllabus T6/Contact/C4501/C45_1.png");
}
.syllabus-C45_2 {
  background-image: url("../../images/Syllabus T6/Contact/C4501/C45_2.png");
}


.syllabus-C46_1 {
  background-image: url("../../images/Syllabus T6/Contact/C4600/C46_1.png");
}
.syllabus-C46_2 {
  background-image: url("../../images/Syllabus T6/Contact/C4600/C46_2.png");
}
.syllabus-C46_3 {
  background-image: url("../../images/Syllabus T6/Contact/C4600/C46_3.png");
}



.syllabus-C47_1 {
  background-image: url("../../images/Syllabus T6/Contact/C4790/C47_1.png");
}
.syllabus-C47_2 {
  background-image: url("../../images/Syllabus T6/Contact/C4790/C47_2.png");
}


.syllabus-C48_1 {
  background-image: url("../../images/Syllabus T6/Contact/C4801/C48_1.png");
}
.syllabus-C48_2 {
  background-image: url("../../images/Syllabus T6/Contact/C4801/C48_2.png");
}



.syllabus-C49_1 {
  background-image: url("../../images/Syllabus T6/Contact/C4901/C49_1.png");
}
.syllabus-C49_2 {
  background-image: url("../../images/Syllabus T6/Contact/C4901/C49_2.png");
}



.syllabus-I41_1 {
  background-image: url("../../images/Syllabus T6/Instruments/I4100/I41_1.png");
}
.syllabus-I41_2 {
  background-image: url("../../images/Syllabus T6/Instruments/I4100/I41_2.png");
}
.syllabus-I41_3 {
  background-image: url("../../images/Syllabus T6/Instruments/I4100/I41_3.png");
}


.syllabus-I42_1 {
  background-image: url("../../images/Syllabus T6/Instruments/I4200/I42_1.png");
}
.syllabus-I42_2 {
  background-image: url("../../images/Syllabus T6/Instruments/I4200/I42_2.png");
}
.syllabus-I42_3 {
  background-image: url("../../images/Syllabus T6/Instruments/I4200/I42_3.png");
}



.syllabus-I43_1 {
  background-image: url("../../images/Syllabus T6/Instruments/I4300/I43_1.png");
}
.syllabus-I43_2 {
  background-image: url("../../images/Syllabus T6/Instruments/I4300/I43_2.png");
}
.syllabus-I43_3 {
  background-image: url("../../images/Syllabus T6/Instruments/I4300/I43_3.png");
}



.syllabus-I44_1 {
  background-image: url("../../images/Syllabus T6/Instruments/I4490/I44_1.png");
}
.syllabus-I44_2 {
  background-image: url("../../images/Syllabus T6/Instruments/I4490/I44_2.png");
}
.syllabus-I44_3 {
  background-image: url("../../images/Syllabus T6/Instruments/I4490/I44_3.png");
}


.syllabus-N41_1 {
  background-image: url("../../images/Syllabus T6/Navigation/N4100/N41_1.png");
}
.syllabus-N41_2 {
  background-image: url("../../images/Syllabus T6/Navigation/N4100/N41_2.png");
}

.syllabus-N42_1 {
  background-image: url("../../images/Syllabus T6/Navigation/N4200/N42_1.png");
}
.syllabus-N42_2 {
  background-image: url("../../images/Syllabus T6/Navigation/N4200/N42_2.png");
}



.syllabus-F41_1 {
  background-image: url("../../images/Syllabus T6/Formation/F4100/F41_1.png");
}
.syllabus-F41_2 {
  background-image: url("../../images/Syllabus T6/Formation/F4100/F41_2.png");
}
.syllabus-F41_3 {
  background-image: url("../../images/Syllabus T6/Formation/F4100/F41_3.png");
}



.syllabus-F42_1 {
  background-image: url("../../images/Syllabus T6/Formation/F4201/F42_1.png");
}
.syllabus-F42_2 {
  background-image: url("../../images/Syllabus T6/Formation/F4201/F42_2.png");
}


.syllabus-F43_1 {
  background-image: url("../../images/Syllabus T6/Formation/F4300/F43_1.png");
}
.syllabus-F43_2 {
  background-image: url("../../images/Syllabus T6/Formation/F4300/F43_2.png");
}
.syllabus-F43_3 {
  background-image: url("../../images/Syllabus T6/Formation/F4300/F43_3.png");
}


.limitsPageBackground {
  background-image: url("../../images/t6_limits.png");
}

